.alert-success{
    color: #3c763d !important;

    background-color: #dff0d8 !important;

    border-color: #d6e9c6 !important;
}
.alert-info{
    color: #31708f !important;

    background-color: #d9edf7 !important;

    border-color: #bce8f1 !important;
}
.alert-warning {

    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;

}

.alert-danger {

    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;

}
/*---------------------------------*/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn1 {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.new_file{
    position: absolute;

    left: 29px;

    top: 50px;
    padding: 7px;
    border-radius: 5px;
}
.old_file{
    position: absolute;

    left: 324px;

    top: 50px;
    padding: 7px;
    border-radius: 5px;
}
.tumb-img{
    padding: 20px;
}
.checkbox-img{
    position: relative;

    top: 42px;

    left: 25px;
}
